/* Container for the entire component */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Title Styling */
h2.text-center {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

/* Filter dropdown container */
.filter-container {
  margin-bottom: 20px;
}

.filter-container label {
  font-size: 1.1rem;
  font-weight: 600;
}

/* Card Styles */
.article-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.article-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

/* Card image styles */
.article-image {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

/* Card Body Styling */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  background-color: #fff;
}

/* Title Styling */
.article-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Article content should not cut off */
.article-content {
  font-size: 1rem;
  color: #555;
  flex-grow: 1;
  margin-bottom: 10px;
}

/* Read More button container (align to start) */
.read-more-container {
  margin-top: auto; /* Pushes button to the bottom */
  text-align: left; /* Aligns the button to the left */
  display: flex;
  justify-content: flex-start; /* Aligns the button to the left */
}

/* Button Styling */
.read-more-btn {
  background-color: #ffffff;
  border-color: #ac834f;
  padding: 8px 12px;
  font-size: 0.9rem;

  letter-spacing: 0.5px;
  width: 40%;
  color: black; /* Text color is black */
}

.read-more-btn:hover {
  background-color: #ac834f;
  color: white; /* Change text color on hover */
  text-decoration: none;
  border-color: #ac834f;
}

.read-more-btn:focus {
  outline: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .card-body {
    padding: 15px;
  }
  
  .article-title {
    font-size: 1.15rem;
  }

  .article-content {
    font-size: 0.95rem;
  }

  .read-more-btn {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .article-card {
    margin-bottom: 20px;
  }
}
